html {
    background-color: #1f2123;
}

body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}


.container-fluid {
    background-color: #1f2123;
}

h1 {
    text-align: center;
    background-color: #343A40;
    color: rgba(255, 255, 255, .5);
}

.game-table {
    height: 500px;
    background-color: #343A40;
}

.player-list {
    height: 500px;
}

.none {
    position: absolute;
    top: -99999999999px;
}

#start {
    position: absolute;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
    background: #d83f3f;
    color: white;
    font-size: 1.7rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 250px;
    padding: 10px;
    font-family: Lato;
    border-radius: 10px;
    outline: none;
    transition: background-color .2s ease-out;
}

#buttonLetter {
    background: #d83f3f;
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    border: none;
    cursor: pointer;
    width: 100px;
    padding: 10px;
    font-family: Lato;
    border-radius: 10px;
    outline: none;
    transition: background-color .2s ease-out;
}

#letter {
    text-align: left;
    color: rgba(255, 255, 255, .5);
    font-size: 40px;
}

@media only screen and (min-width: 500px) {
    #start {
        top: 50%;
    }
}

@media only screen and (max-width: 499px) {
    #start {
        top: 70%;
    }
}

#start:hover {
    background-color: #f95050;
}
